POSTGRES_DB=sekai_platform
POSTGRES_USER=sekai_platform
POSTGRES_PASSWORD=sekai_platform

JWT_ISSUER=sekai-platform
JWT_AUDIENCE=sekai-platform
JWT_SIGNING_KEY=replace-with-local-development-signing-key

DATABASE_AUTO_MIGRATE=true
DATABASE_SEED=true
SEED_ADMIN_PASSWORD=
SEED_TEST_PASSWORD=

API_SERVICE_PORT=8080
POSTGRES_PORT=5432
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_CLI_JAVA_OPTS=
