POSTGRES_DB=sekai_platform
POSTGRES_USER=sekai_platform
POSTGRES_PASSWORD=sekai_platform

JWT_ISSUER=sekai-platform
JWT_AUDIENCE=sekai-platform
JWT_SIGNING_KEY=replace-with-local-development-signing-key
INTERNAL_AUTH_ISSUER=sekai-platform-internal
API_SERVICE_INTERNAL_PRIVATE_KEY=
API_SERVICE_INTERNAL_PUBLIC_KEY=
ASSET_SERVICE_INTERNAL_PRIVATE_KEY=
ASSET_SERVICE_INTERNAL_PUBLIC_KEY=
SYNC_WORKER_INTERNAL_PRIVATE_KEY=
SYNC_WORKER_INTERNAL_PUBLIC_KEY=

DATABASE_AUTO_MIGRATE=true
DATABASE_SEED=true
SEED_ADMIN_PASSWORD=121748

API_SERVICE_PORT=8080
POSTGRES_PORT=5432
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_BIND_HOST=127.0.0.1
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_CLI_JAVA_OPTS=
MOESEKAI_REQUEST_TIMEOUT=00:03:00
MOESEKAI_SCENARIO_DOWNLOAD_CONCURRENCY=8
