POSTGRES_DB=sekai_platform
POSTGRES_USER=sekai_platform
POSTGRES_PASSWORD=replace-with-server-postgres-password

JWT_ISSUER=sekai-platform
JWT_AUDIENCE=sekai-platform
JWT_SIGNING_KEY=replace-with-server-jwt-signing-key

INTERNAL_AUTH_ISSUER=sekai-platform-internal
API_SERVICE_INTERNAL_PRIVATE_KEY=
API_SERVICE_INTERNAL_PUBLIC_KEY=
ASSET_SERVICE_INTERNAL_PRIVATE_KEY=
ASSET_SERVICE_INTERNAL_PUBLIC_KEY=
SYNC_WORKER_INTERNAL_PRIVATE_KEY=
SYNC_WORKER_INTERNAL_PUBLIC_KEY=

ASPNETCORE_ENVIRONMENT=Production
DATABASE_AUTO_MIGRATE=true
DATABASE_SEED=false

API_SERVICE_BIND_HOST=127.0.0.1
API_SERVICE_PORT=8080
ELASTICSEARCH_INDEX_NAME=sekai-language-assets-v1
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_CLI_JAVA_OPTS=
MOESEKAI_REQUEST_TIMEOUT=00:03:00
MOESEKAI_SCENARIO_DOWNLOAD_CONCURRENCY=8
SEARCH_INDEX_REFRESH_TIMEOUT=00:02:00
SEARCH_INDEX_REFRESH_STORY_BATCH_SIZE=200
